<!-- __includes/sidebar.html -->
<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.author.name }}
        </a>
      </h1>
      <p class="lead">{{ site.author.location }} | {{ site.author.employer }}</p>
      <ul class="sidebar-nav">
        <li><a href="mailto:{{ site.author.email }}">Email</a></li>
        <li><a href="{{ site.author.github }}">GitHub</a></li>
        <li><a href="{{ site.author.orcidb }}">Orcid</a></li>
        <li><a href="{{ site.author.linkedin }}">LinkedIn</a></li>
      </ul>
      {% if site.author.avatar %}
        <img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="{{ site.author.name }}'s avatar">
      {% endif %}
    </div>
  </div>
</div>
